

.nav{
    background-color: yellow;
    flex-direction: column;
    align-items: stretch;
}



.header{
    background-color: aqua;
    display: flex;
    width: 10%;
}

.main__section{
    background-color: purple;
}

.main__aside{
    background-color: red;
}

.footer{
    background-color: blue;
    height: 50px;
}

.main{
    flex-grow: 1;
    background-color: crimson;
    display: flex;
}