*{
    margin: 0;
}

.grid{
    height: 100vh;
    display: grid;
    grid-template-areas:
    "header header"
    "nav content"
    "nav footer" 
    ;

    grid-template-columns: 20% 1fr;
    grid-template-rows: 100px 1fr 50px;

}

header{
    background-color: deeppink;
    grid-area: header;
}

section{
    background-color: brown;
    grid-area: content;
}

nav{
    background-color: cadetblue;
    grid-area: nav;
}

footer{
    background-color: cyan;
    grid-area: footer;
}